.description {
  padding-bottom: 20px;
  @media all and (min-width: 768px) {
    & {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      padding-right: 25px;
    }
  }
  &__text-wrapper {
    padding: 0 16px;
    @media all and (min-width: 768px) {
      & {
        padding-left: 24px;
        margin-right: 48px;
        padding-right: 0;
      }
    }
    @media all and (min-width: 1366px) {
      & {
        padding-left: 34px;
        padding-right: 0;
        margin-right: 36px;
      }
    }
  }
  &__more {
    margin-left: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    @media all and (min-width: 768px) {
      & {
        margin-top: 10px;
      }
    }
    @media all and (min-width: 1366px) {
      & {
        margin-top: 13.78px;
      }
    }
  }
  &__image {
    width: 100%;
    @media all and (min-width: 768px) {
      & {
        width: 50%;
      }
    }
  }
}
