.get-commersial-proposal-link {
  padding: 0 16px;
  font-weight: 500;
  @media all and (min-width: 768px) {
    & {
      width: initial;
      padding: 0 24px;
    }
  }
  @media all and (min-width: 768px) {
    & {
      padding: 0 32px;
    }
  }
  &__text {
    position: relative;
    &::after {
      content: "";
      border-top: 2px solid $pink;
      border-right: 2px solid $pink;
      position: absolute;
      width: 6px;
      height: 6px;
      transform: translate(-60%, -50%) rotate(45deg);
      bottom: 3.3px;
      right: -15px;
    }
  }
}
