.order-link {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $pink;
  display: block;
  padding: 4px 40px 4px 12px;
  border-radius: 16px;
  transition: $opacity-transition;
  border: 1px solid $pink;
  &:hover {
    opacity: $opacity;
  }
  &::after {
    content: "";
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-60%, -50%) rotate(45deg);
    right: 16px;
  }
  &:focus,
  &:active {
    border: 1px solid $black;
    border-radius: 16px;
    outline: none;
  }

  &__text {
    font-family: $font-regular;
    font-weight: 500;
  }
}
