.price {
  width: 260px;
  background-color: white;
  border-radius: 6px;
  padding: 16px;
  height: 200px;
  position: relative;

  @media all and (min-width: 768px) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: initial;
    }
  }
  @media all and (min-width: 1120px) {
    & {
      padding: 16px 24px;
    }
  }

  &:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 1px;
    background-color: $delimiter-color;
  }

  &:not(:last-child) {
    margin-right: 16px;
    @media all and (min-width: 768px) {
      & {
        margin-right: 0;
      }
    }
  }

  &__title {
    color: $grey;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.72;
    margin-bottom: 4px;
    font-weight: 500;
    @media all and (min-width: 768px) {
      & {
        display: none;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    &:not(:last-of-type) {
      margin-bottom: 16px;
      @media all and (min-width: 768px) {
        & {
          margin: 0;
        }
      }
    }

    &-service-name {
      height: 36px;
      overflow: hidden;
      @media all and (min-width: 768px) {
        & {
          height: initial;
          width: 51%;
        }
      }
    }

    &:not(.price__text-service-name) {
      @media all and (min-width: 768px) {
        & {
          height: initial;
          width: 12%;
        }
      }
    }
  }

  &__link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    @media all and (min-width: 768px) {
      & {
        position: relative;
        right: 0;
        bottom: 0;
      }
    }
  }
}
