.repair {
  padding-bottom: 50px;
  &__more-button {
    margin-left: 32px;
    display: none;
    margin-top: 24px;
    @media all and (min-width: 768px) {
      & {
        display: block;
      }
    }
  }
  &__about-prices {
    margin-bottom: 16px;
  }
}
