$font-regular: "TT Lakes";
$green: #41f6d7;
$pink: #ff3e79;
$black: #1b1c21;
$grey: #7e7e82;
$pale-grey: #f8f8f8;
$swiper-bullet: #dddddd;
$swiper-bullet-active: #b5b6bc;
$border-green: #b8ffec;
$subtitle-green: #d9fff5;
$repair-type-border: #eaeaea;
$font-size-body: 14px;
$line-height-body: 18px;
$letter-spacing-body: 0.2px;
$opacity: 0.3;
$transition-duration: 0.3s;
$delimiter-color: #eaeaea;
$transparent-border: 2px solid transparent;
$opacity-transition: opacity 0.3s;
